/*PALETA DE CORES
VERDE: #49a09d
LILÃS: #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    background-color:#5f2c82;
}

#imagem{
    background:  url(../imagens/metal.jpg) center center;
    background-size: cover;
    height: 200px;
} 

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    border-radius: 20px;
    margin: auto;
    width: 300px;
    height: 520px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transform: translate(-50%,-50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#formulario{
    padding: 10px;
}

h1{
    text-align: center;
}

form > .campo > span{
    color: white;
    font-size: 40px;
}

form > .campo{
    border-radius: 8px;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    font-size: 1.2em;
    margin-top: 8px ;
}

.caixa{
    width: calc(100% - 47px);
    height: 34px;
    background-color: #6f2baf;
    border-radius: 8px;
    border:none;
    transform: translateY(-14px) ;
}

input:focus-within{
    background-color: white;
}

#formulario input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#49a09d;
    border:none;
    border-radius:7px;
    cursor:pointer;
    margin-top: 8px ;
}

#formulario  input[type=submit]:hover{
    background-color:#2d6462;
}

form > .botao{
    display: block;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    margin-top: 5px;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-align: center;
    background-color: white;
    color: #2d6462;
    text-decoration: none;
}

form > .botao:hover{
    background-color: #6cd3cf;
}

form > .botao > span{
    font-size: 0.8em;
}