/*PALETA DE CORES
VERDE: #49a09d
LILÃS: #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    background-color:#5f2c82;
}

#imagem{
    background:  url(../imagens/metal.jpg) center center;
    background-size: cover;
    height: 200px;
} 

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 20px;
    margin: auto;
    width: 300px;
    height: 500px;
    background-color: white;
}

#formulario{
    padding: 10px;
}

h1{
    text-align: center;
}

form > .campo{
    border-radius: 8px;
}

#formulario input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#49a09d;
    border:none;
    border-radius:7px;
    cursor:pointer;
}

form > input[type=submit]:hover{
    background-color:#2d6462;
}

form > .botao{
    display: block;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    margin-top: 5px;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-align: center;
    background-color: white;
    color: #2d6462;
    text-decoration: none;
}

form > .botao:hover{
    background-color: #6cd3cf;
}

form > .botao > span{
    font-size: 0.8em;
}