@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --fonte-padrao:arial, helvetica, sans-serif;
    --fonte02:'Passion One';
    --fonte03:'Sriracha';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    font-family: var(--fonte03);
    font-size: 3vw;
}

header{
    text-align: center;
    font-family: var(--fonte-padrao);
    color: white;
    background-color: black;

}

header > h1{

    padding-top: 50px;
    font-size: 6vw;
    font-variant: small-caps;
    font-family: var(--fonte02);
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

section{
    padding: 10vh 0px;
}

section > p{
    line-height: 2em;
   padding-left: 30px;
}

.foto{
    padding-top: 50px;
    background: url(imagens/background001.jpg) right center fixed;
    background-size: cover;
}

.foto > p{
    background-color: rgba(0, 0, 0, 0.562);
    display: inline-block;
    color: white;
}

#foto2{
    background: url(imagens/background002.jpg) center center;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    font-family: var(--fonte-padrao);
    padding: 10px 0px;
}