*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    background-color: darkgray;
    margin: auto;
}

header{
    text-align: center;
    color: white;
    background-color: black;
}

h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    font-weight: 900;
    color: white;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

.normal{
    background-color: white;
}

.imagem{
    background-color: rgb(70, 62, 62);
    color: white;
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.267);
    width: 400px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}